.rst-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-small);

  /* style */
  border: var(--border-width-default) solid var(--border-default);
  background-color: var(--bg-default);
}

/* INPUT */
.rst-input {
  width: -webkit-fill-available;
  border: none;
  outline: none;
  background-color: transparent;
  font: inherit;
  cursor: inherit;
  color: inherit;

  &::placeholder {
    color: var(--smp-textField-placeholderColor-base);
  }
}
