/* stylelint-disable comment-empty-line-before */

:root {
  /* ===================================================
   CATEGORIES: BORDER
   =================================================== */

  /* ==== BORDER COLOR ==== */
  --rst-border-default: var(--rst-gray-200); /* standard border (inputs, cards, containers) */
  --rst-border-muted: var(--rst-gray-200); /* for separators and subtle borders */
  --rst-border-subtle: var(--rst-gray-100); /* very subtle borders, table rows */
  --rst-border-strong: var(--rst-gray-400); /* stronger border, emphasis cases */
  --rst-border-primary: var(--rst-primary-500); /* interactive elements */
  --rst-border-primary-hover: var(--rst-primary-600); /* on hover/focus */
  --rst-border-success: var(--rst-green-600);
  --rst-border-warning: var(--rst-yellow-800);
  --rst-border-danger: var(--rst-red-700);
  --rst-border-focus: var(--rst-primary-500); /* same as primary for now */

  /* ==== BORDER WIDTH ==== */
  --rst-border-width-thin: 0.5px;
  --rst-border-width-default: 1px;
  --rst-border-width-thick: 2px;

  /* ==== BORDER RADIUS ==== */

  /* ===================================================
   CATEGORIES: COLOR
   =================================================== */

  --rst-bgColor-0: var(--rst-gray-0);
  --rst-bgColor-overlay: var(--rst-gray-0);
  --rst-bgColor-default: var(--rst-gray-100);
  --rst-bgColor-default-hover: var(--rst-gray-110);
  --rst-bgColor-default-focus: var(--rst-gray-120);
  --rst-bgColor-default-active: var(--rst-gray-130);
  --rst-bgColor-default-disabled: var(--rst-gray-200);
  --rst-bgColor-primary: var(--rst-primary-600);
  --rst-bgColor-primary-hover: var(--rst-primary-610);
  --rst-bgColor-primary-focus: var(--rst-primary-620);
  --rst-bgColor-primary-active: var(--rst-primary-630);
  --rst-bgColor-danger-hover: var(--rst-red-700);
  --rst-bgColor-danger-active: var(--rst-red-800);

  /* ==== INTERACTIVE COMPONENTS ==== */
  --rst-interactive-default: var(--rst-primary-500);
  --rst-interactive-hover: var(--rst-primary-600);
  --rst-interactive-active: var(--rst-primary-700);
  --rst-interactive-disabled: var(--rst-gray-300);

  /* ==== SOLID COLORS ==== */
  --rst-solid-neutral: var(--rst-gray-500);
  --rst-solid-primary: var(--rst-primary-500);
  --rst-solid-positive: var(--rst-green-600);
  --rst-solid-warning: var(--rst-yellow-800);
  --rst-solid-danger: var(--rst-red-700);

  /* ==== ACCESSIBLE TEXT ==== */
  --rst-text-primary: var(--rst-gray-900);
  --rst-text-secondary: var(--rst-gray-700);
  --rst-text-on-primary: var(--rst-gray-0);
  --rst-text-on-danger: var(--rst-gray-0);
  --rst-text-disabled: var(--rst-gray-500);
  --rst-text-danger: var(--rst-red-700);

  /* ===================================================
   CATEGORIES: DIMENSIONS
   =================================================== */

  /* ==== SPACING ==== */
  --rst-space-zero: var(--rst-dimension-0);
  --rst-space-xsmall: var(--rst-dimension-1);
  --rst-space-small: var(--rst-dimension-2);
  --rst-space-medium: var(--rst-dimension-3);
  --rst-space-large: var(--rst-dimension-4);

  /* ===================================================
   CATEGORIES: TYPOGRAPHY
   =================================================== */

  /* ==== SHORTHAND ==== */
  --rst-font-display: var(--rst-font-style-normal) var(--rst-font-weight-bold) var(--rst-font-size-xl) / var(--rst-line-height-lg) var(--rst-font-family-sans);
  --rst-font-heading: var(--rst-font-style-normal) var(--rst-font-weight-bold) var(--rst-font-size-md) / var(--rst-line-height-md) var(--rst-font-family-sans);
  --rst-font-body: var(--rst-font-style-normal) var(--rst-font-weight-regular) var(--rst-font-size-sm) / var(--rst-line-height-md) var(--rst-font-family-sans);
  --rst-font-label: var(--rst-font-style-normal) var(--rst-font-weight-medium) var(--rst-font-size-xs) / var(--rst-line-height-sm) var(--rst-font-family-sans);
  --rst-font-code: var(--rst-font-style-normal) var(--rst-font-weight-regular) var(--rst-font-size-xs) / var(--rst-line-height-sm) var(--rst-font-family-mono);
}
