.rst-field-select-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--rst-space-small);

  &[aria-disabled="true"] {
    color: var(--rst-text-disabled);
    cursor: not-allowed;
  }

  &.rst-select-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--rst-space-small);
  }
}
