/**
 * Design System — Sizing tokens
 */

@import "../primitives.css";

:root {
  --space-zero: var(--space-0);
  --space-xsmall: var(--space-1);
  --space-small: var(--space-2);
  --space-medium: var(--space-3);
  --space-large: var(--space-4);
}
